.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
<<<<<<< HEAD
  border: 4px solid transparent;
  border-radius: 50%;
  border-right-color: var(--spinner-color);
=======
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
>>>>>>> fa86678ab61aa91ab92299ddf7f1d0a95b18bacd
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}